{% extends "base_psapca.html" %}{% load preproject_extras %}{% load humanize %}{% block title %}Preproject Detail per Customer | SolArc{% endblock %}{% block content %}
<div class="uk-container">
    {% for customer in c_list %}
    <div class="uk-padding-remove">
    </div>
    <div class="uk-child-width-expand@s" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <ul class="uk-list">
                    <li><h5>Customer:</h5></li>
                    <li><strong>{{customer.customer_name}}</strong></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <ul class="uk-list">
                    <li>Oppty: {{customer.num_oppty}}</li>
                    <li>PSA: {% psacount customer.id %}</li>
                    <li>PCA: {% pcacount customer.id %}</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <ul class="uk-list">
                    <li>WON:  {% woncount customer.id %}</li>
                    <li>LOST: {% lostcount customer.id %}</li>
                </ul>
            </div>
        </div>{% endfor %}
    </div>
    <table class="uk-table uk-table-divider uk-table-small" style="font-size: 70%;" >
    <!-- <table class="uk-table uk-table-divider uk-table-hover uk-table-small"> -->
        <thead>
            <tr>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>No</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>SA</b></th>
                <!-- <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>Customer Name</b></th> -->
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>Project Name</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>PSS</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>SALES</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>Progress</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>Payment Type</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>Taxsonomi</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>Edit</b></th>
                <!-- <th class="uk-table-middle">{{list.count}}</th> -->
                <!-- <th class="uk-table-middle" style="font-size: 100%;">PSA</th> -->
                <!-- <th class="uk-table-middle" style="font-size: 100%;">PCA</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>{% for preproject in p_list %}
                <td>{{forloop.counter}}</td>
                <td>{% for sa in preproject.sa_lintasarta.all %}<span uk-tooltip="title:{{sa.name}}; delay:250">{{sa.initial}}</span>{% endfor %}</td> 
                <!-- <td>{% for customer in preproject.customer.all %}{{ customer.customer_name }}{% endfor %}</td>  -->
                <td>{{preproject.project_name}}</td>
                <td>{% for pss in preproject.pss_lintasarta.all %}<span uk-tooltip="title:{{pss.initial}}; delay:250">{{ pss.name }}</span>{% endfor %}</td> 
                <td><span uk-tooltip="title:{{preproject.sales_lintasarta.initial}}; delay:250">{{preproject.sales_lintasarta.name}}</span></td>
                <td>{% if preproject.progress == 'w' %}Close Won{% elif preproject.progress == 'l' %}Close Lost{% elif preproject.progress == 'p' %}Progress - Internal SA{% elif preproject.progress == 's' %}Progress - Submited{% elif preproject.progress == 'c' %}Cancelled{% else %}PSA NOTGO/HOLD{%endif%}</td> 
                <td>{% if preproject.payment == 'm' %}MRC{% else %}OTC{% endif %}</td>
                <!-- <td>{% for taxsonomi in preproject.taxsonomi.all %}{{taxsonomi.product_name}}{% endfor %}</td> -->
                <td>{% for taxsonomi in preproject.taxsonomi.all %}{% if taxsonomi.product_name == '0'%}Datacom{% elif taxsonomi.product_name == '1'%}Cloud{% elif taxsonomi.product_name == '2'%}Data Center{% elif taxsonomi.product_name == '3'%}Sec & Col{% elif taxsonomi.product_name == '4'%}ITO{% elif taxsonomi.product_name == '5'%}Insol{%else%}Digital Ads{%endif%}{% endfor %}</td> 
                {% if request.user.is_staff %}<td class="noExl"><a href="/admin/preproject/preproject/{{preproject.id}}/change/" target="_blank" class="uk-link-reset" uk-icon="icon:file-edit; ratio:0.8"></a></td>{% endif %} 
            </tr>
            <tr>
                <td colspan='9' class="uk-text-center">
                    <div uk-accordion="multiple: true">
                        <div class="">
                            <a class="uk-accordion-title" href="" style="font-size: 100%"><b>PSA</b> | {% for psa in preproject.psa_set.all %}{{psa.psa_date|date:'d-M'}} | {% endfor %}</a>
                            <div class="uk-accordion-content uk-margin-remove">
                                <table class="uk-table uk-table-hover uk-table-divider uk-table-small">
                                    <thead>
                                        <tr>
                                            <th class="uk-table-middle" style="font-size: 100%;">PSA Date</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">PSS HO Date</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Product or Not</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Scale</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Summary</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Status_psa</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Remark</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Attendance</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Risk</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>{% for psa in preproject.psa_set.all %}
                                        <tr>
                                            <td>{{psa.psa_date}}</td> 
                                            <td>{{psa.pss_ho_date}}</td> 
                                            <td>{% if psa.productornot == 'n'%}Non Product{%else%}Product{%endif%}</td> 
                                            <td>{% if psa.scale == 'l'%}Large{% elif psa.scale == 'm'%}Medium{%else%}Small{%endif%}</td> 
                                            <td>{{psa.summary}}</td> 
                                            <td>{% if psa.status_psa == 'g' %}Go{% elif psa.status_psa == 'h'%}Hold{%else%}Not Go{%endif%}</td> 
                                            <td>{{psa.remark}}</td> 
                                            <td>{{psa.attendance}}</td> 
                                            <td>{% if psa.risk_category == 'h' %}High{% elif psa.risk_category == 'm' %}Medium{% elif psa.risk_category == 'l' %}Low{%else%}n/a{%endif%}</td> 
                                            {% if request.user.is_staff %}<td class="noExl"><a href="/admin/psatopca/psa/{{psa.id}}/change/" target="_blank" class="uk-link-reset" uk-icon="icon:file-edit; ratio:0.8"></a></td>{% endif %} 
                                        </tr>
                                    </tbody>{% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </td>                
            </tr>
            <tr>
                <td colspan='9' class="uk-text-center">
                    <div uk-accordion="multiple: true">
                        <div class="">
                            <a class="uk-accordion-title" href="#" style="font-size: 100%"><b>PCA</b> | {% for psa in preproject.psa_set.all %}{% for pca in psa.pca_set.all %}{{pca.pca_date|date:'d-M'}} | {% endfor %}{% endfor %}</a>
                            <div class="uk-accordion-content">
                                <table class="uk-table uk-table-hover uk-table-divider uk-table-small">
                                    <thead>
                                        <tr>
                                            <th class="uk-table-middle" style="font-size: 100%;">PCA Date</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">PCA Status</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">OTC</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">MRC</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Duration</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Ebitda</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">IRR</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Remark</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Attendance</th>
                                            <!-- <th class="uk-table-middle" style="font-size: 100%;">Problem Category</th> -->
                                            <!-- <th class="uk-table-middle" style="font-size: 100%;">ACV</th> -->
                                            <th class="uk-table-middle" style="font-size: 100%;">TCV</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>{% for psa in preproject.psa_set.all %}{% for pca in psa.pca_set.all %}
                                        <tr>
                                            <td>{{pca.pca_date}}</td> 
                                            <td>{% if pca.status_pca == 'g' %}APPROVED{% elif pca.status_pca == 'h' %}HOLD{% else %}NOT GO{% endif %}</td>
                                            <td>{% rupiah pca.otc %}</td> 
                                            <td>{% rupiah pca.mrc %}</td> 
                                            <td>{{pca.duration}}</td> 
                                            <td>{{pca.ebitda}}</td> 
                                            <td>{{pca.irr}}</td> 
                                            <td>{{pca.remark}}</td> 
                                            <td>{{pca.attendance}}</td>
                                            <td>{% for psa in preproject.psa_set.all %}{% for pca in psa.pca_set.all %}{% if pca.bc_category != 'e' %}{% rupiah pca.tcv %}{% endif %}{% endfor %}{% endfor %}</td>
                                            {% if request.user.is_staff %}<td class="noExl"><a href="/admin/psatopca/pca/{{pca.id}}/change/" target="_blank" class="uk-link-reset" uk-icon="icon:file-edit; ratio:0.8"></a></td>{% endif %} 
                                        </tr>
                                    </tbody>{% endfor %}{% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </td>             
            </tr>{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
