{% extends "base_psapca.html" %}% load widget_tweaks %}{% load preproject_extras %}{% load humanize %}{% block title %}Preproject Detail | SolArc{% endblock %}{% block content %}
<div class="uk-container">
    <ul class="uk-subnav" uk-margin>
        <li><a href="{% url 'detail'%}/all">All</a></li>
        <li>
            <a href="#">Subbag<span uk-icon="icon:  triangle-down"></span></a>
            <div uk-dropdown="mode: hover;">
                <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="{% url 'detail'%}/sa1">SA 1</a></li>
                    <li><a href="{% url 'detail'%}/sa2">SA 2</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#">SA 1<span uk-icon="icon:  triangle-down"></span></a>
            <div uk-dropdown="mode: hover;">
                <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="{% url 'detail'%}/GGW">Gerry Gusman Wibowo</a></li>
                    <li><a href="{% url 'detail'%}/IRS">Iwan Rizal Saputra</a></li>
                    <li><a href="{% url 'detail'%}/SDR">Sudarsono</a></li>
                    <li><a href="{% url 'detail'%}/TMB">Tommy Budianto</a></li>
                    <li><a href="{% url 'detail'%}/WIT">Wahyu Indartono</a></li>
                    <li><a href="{% url 'detail'%}/ZKF">Zaki Farhan</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#">SA 2<span uk-icon="icon:  triangle-down"></span></a>
            <div uk-dropdown="mode: hover;">
                <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="{% url 'detail'%}/AJU">Adhika Judistira Mukti</a></li>
                    <li><a href="{% url 'detail'%}/DPM">Dedy Permana</a></li>
                    <li><a href="{% url 'detail'%}/MBO">Mohammad Rabbani</a></li>
                    <li><a href="{% url 'detail'%}/MGM">Megati Mahardiningrum</a></li>
                    <li><a href="{% url 'detail'%}/MUH">Muhammad Aulia Rahendra</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <!-- summary -->
    <span class="uk-text-bold">{{tittle}}</span>
    <div class=" uk-child-width-expand@s" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <ul class="uk-list">
                    <li>Oppty: {{list.count}}</li>
                    <li>Total PSA: {{totalpsa}}</li>
                    <li>Total PCA: {{totalpca}}</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <ul class="uk-list">
                    <li>Oppty Large: {{totalpsa_l}}</li>
                    <li>Oppty Medium: {{totalpsa_m}}</li>
                    <li>Oppty Small: {{totalpsa_s}}</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <ul class="uk-list">
                    <li>Oppty High Risk: {{totalpsa_hr}}</li>
                    <li>Oppty Medium Risk: {{totalpsa_mr}}</li>
                    <li>Oppty Low Risk: {{totalpsa_lr}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="">
            <a href="{% url 'detail'%}/all" class="uk-button uk-button-secondary uk-text-small">All</a>
            <a href="{% url 'detail'%}/sa1" class="uk-button uk-button-primary uk-text-small">SA1</a>
            <a href="{% url 'detail'%}/sa2" class="uk-button uk-button-primary uk-text-small">SA2</a>
            <a href="{% url 'detail'%}/GGW" class="uk-button uk-button-default uk-text-small">GGW</a>
            <a href="{% url 'detail'%}/IRS" class="uk-button uk-button-default uk-text-small">IRS</a>
            <a href="{% url 'detail'%}/SDR" class="uk-button uk-button-default uk-text-small">SDR</a>
            <a href="{% url 'detail'%}/TMB" class="uk-button uk-button-default uk-text-small">TMB</a>
            <a href="{% url 'detail'%}/WIT" class="uk-button uk-button-default uk-text-small">WIT</a>
            <a href="{% url 'detail'%}/ZKF" class="uk-button uk-button-default uk-text-small">ZKF</a>
            <a href="{% url 'detail'%}/AJU" class="uk-button uk-button-default uk-text-small">AJU</a>
            <a href="{% url 'detail'%}/DPM" class="uk-button uk-button-default uk-text-small">DPM</a>
            <a href="{% url 'detail'%}/MBO" class="uk-button uk-button-default uk-text-small">MBO</a>
            <a href="{% url 'detail'%}/MGM" class="uk-button uk-button-default uk-text-small">MGM</a>
            <a href="{% url 'detail'%}/MUH" class="uk-button uk-button-default uk-text-small">MUH</a>
    </div> -->
    <table class="uk-table uk-table-divider uk-table-small" style="font-size: 70%;" >
    <!-- <table class="uk-table uk-table-divider uk-table-hover uk-table-small"> -->
        <thead>
            <tr>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>No</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>SA</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>Customer Name</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>Project Name</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>PSS</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>SALES</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>Progress</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>Payment Type</b></th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040"><b>Taxsonomi</b></th>
                <!-- <th class="uk-table-middle">{{list.count}}</th> -->
                <!-- <th class="uk-table-middle" style="font-size: 100%;">PSA</th> -->
                <!-- <th class="uk-table-middle" style="font-size: 100%;">PCA</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>{% for preproject in list %}  
                <td>{{forloop.counter}}</td>
                <td>{% for sa in preproject.sa_lintasarta.all %}<span uk-tooltip="title:{{sa.name}}; delay:250">{{sa.initial}}</span>{% endfor %}</td> 
                <td>{% for customer in preproject.customer.all %}{{ customer.customer_name }}{% endfor %}</td> 
            	<td>{{preproject.project_name}}</td>
                <td>{% for pss in preproject.pss_lintasarta.all %}<span uk-tooltip="title:{{pss.initial}}; delay:250">{{ pss.name }}</span>{% endfor %}</td> 
                <td><span uk-tooltip="title:{{preproject.sales_lintasarta.initial}}; delay:250">{{preproject.sales_lintasarta.name}}</span></td>
                <td>{% if preproject.progress == 'w' %}Close Won{% elif preproject.progress == 'l' %}Close Lost{% elif preproject.progress == 'p' %}Progress - Internal SA{% elif preproject.progress == 's' %}Progress - Submited{% elif preproject.progress == 'c' %}Cancelled{% else %}PSA NOTGO/HOLD{%endif%}</td> 
                <td>{% if preproject.payment == 'm' %}MRC{% else %}OTC{% endif %}</td>
                <!-- <td>{% for taxsonomi in preproject.taxsonomi.all %}{{taxsonomi.product_name}}{% endfor %}</td> -->
                <td>{% for taxsonomi in preproject.taxsonomi.all %}{% if taxsonomi.product_name == '0'%}Datacom{% elif taxsonomi.product_name == '1'%}Cloud{% elif taxsonomi.product_name == '2'%}Data Center{% elif taxsonomi.product_name == '3'%}Sec & Col{% elif taxsonomi.product_name == '4'%}ITO{% elif taxsonomi.product_name == '5'%}Insol{%else%}Digital Ads{%endif%}{% endfor %}</td> 

                <!-- <td>{{preproject.taxsonomi.product_name}}</td> -->
            </tr>
            <tr>
                <td colspan='9' class="uk-text-center">
                    <div uk-accordion="multiple: true">
                        <div class="">
                            <a class="uk-accordion-title" href="" style="font-size: 100%"><b>PSA</b> | {% for psa in preproject.psa_set.all %}{{psa.psa_date|date:'d-M'}} | {% endfor %}</a>
                            <div class="uk-accordion-content uk-margin-remove">
                                <table class="uk-table uk-table-hover uk-table-divider uk-table-small">
                                    <thead>
                                        <tr>
                                            <th class="uk-table-middle" style="font-size: 100%;">PSA Date</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">PSS HO Date</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Product or Not</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Scale</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Summary</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Status_psa</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Remark</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Attendance</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Risk</th>
                                        </tr>
                                    </thead>
                                    <tbody>{% for psa in preproject.psa_set.all %}
                                        <tr>
                                            <td>{{psa.psa_date}}</td> 
                                            <td>{{psa.pss_ho_date}}</td> 
                                            <td>{% if psa.productornot == 'n'%}Non Product{%else%}Product{%endif%}</td> 
                                            <td>{% if psa.scale == 'l'%}Large{% elif psa.scale == 'm'%}Medium{%else%}Small{%endif%}</td> 
                                            <td>{{psa.summary}}</td> 
                                            <td>{% if psa.status_psa == 'g' %}Go{% elif psa.status_psa == 'h'%}Hold{%else%}Not Go{%endif%}</td> 
                                            <td>{{psa.remark}}</td> 
                                            <td>{{psa.attendance}}</td> 
                                            <td>{% if psa.risk_category == 'h' %}High{% elif psa.risk_category == 'm' %}Medium{% elif psa.risk_category == 'l' %}Low{%else%}n/a{%endif%}</td> 
                                        </tr>
                                    </tbody>{% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </td>                
            </tr>
            <tr>
                <td colspan='9' class="uk-text-center">
                    <div uk-accordion="multiple: true">
                        <div class="">
                            <a class="uk-accordion-title" href="#" style="font-size: 100%"><b>PCA</b> | {% for psa in preproject.psa_set.all %}{% for pca in psa.pca_set.all %}{{pca.pca_date|date:'d-M'}} | {% endfor %}{% endfor %}</a>
                            <div class="uk-accordion-content">
                                <table class="uk-table uk-table-hover uk-table-divider uk-table-small">
                                    <thead>
                                        <tr>
                                            <th class="uk-table-middle" style="font-size: 100%;">PCA Date</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">PCA Status</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">OTC</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">MRC</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Duration</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Ebitda</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">IRR</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Remark</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">Attendance</th>
                                            <!-- <th class="uk-table-middle" style="font-size: 100%;">Problem Category</th> -->
                                            <th class="uk-table-middle" style="font-size: 100%;">ACV</th>
                                            <th class="uk-table-middle" style="font-size: 100%;">TCV</th>
                                        </tr>
                                    </thead>
                                    <tbody>{% for psa in preproject.psa_set.all %}{% for pca in psa.pca_set.all %}
                                        <tr>
                                            <td>{{pca.pca_date}}</td> 
                                            <td>{% if pca.status_pca == 'g' %}APPROVED{% elif pca.status_pca == 'h' %}HOLD{% else %}NOT GO{% endif %}</td>
                                            <td>{% rupiah pca.otc %}</td> 
                                            <td>{% rupiah pca.mrc %}</td> 
                                            <td>{{pca.duration}}</td> 
                                            <td>{{pca.ebitda}}</td> 
                                            <td>{{pca.irr}}</td> 
                                            <td>{{pca.remark}}</td> 
                                            <td>{{pca.attendance}}</td> 
                                            <!-- <td>{{pca.problem_category}}</td> -->
                                            <td>{% for ho in pca.handover_set.all %}{% annualcontracvalue pca.id ho.po_known_date|date:'mY' pca.tcv %}{% endfor %}</td>
                                            <td>{% totalcontracvalue pca.mrc pca.otc pca.duration %}</td>
                                        </tr>
                                    </tbody>{% endfor %}{% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </td>             
            </tr>{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}