{% extends "base_psapca.html" %}{% load widget_tweaks %}{% load ho_extras %}{% load humanize %}{% load l10n %}{% block title %}Handover | SolArc{% endblock %}
{% block filter %}{% endblock %}
{% block content %}
<div class="uk-container">
    <table class="uk-table uk-table-divider uk-table-hover uk-table-small" style="font-size: 70%;">
    <!-- <table class="uk-table uk-text-small uk-table-small uk-table-divider"> -->
    <!-- <caption>PSA {{ list.count }}</caption> -->
        <thead>
            <tr>
                <th class="uk-table-middle">No</th>
                <th class="uk-table-middle">Customer Name</th>
                <th class="uk-table-middle">Project Name</th>
                <th class="uk-table-middle">SA</th>
                <th class="uk-table-middle">PSS</th>
                <th class="uk-table-middle">Sales</th>
                <th class="uk-table-middle">PO Date</th>
                <th class="uk-table-middle">PO Known Date</th>
                <th class="uk-table-middle">Submit Project Charter PMOIS Date</th>
                <th class="uk-table-middle">Submit Presales HO PMOIS Date</th>
                <th class="uk-table-middle">Preproject Progress</th>
                <th class="uk-table-middle">Problem Category</th>
                <th class="uk-table-middle">TCV</th>
            </tr>
            <tr>
                <form method="get" class="">
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle">{% render_field list.form.pca__psa__preproject__oppty__customer__customer_name class="uk-input uk-form-width-xsmall uk-form-small" %}</th>
                    <th class="uk-table-middle">{% render_field list.form.pca__psa__preproject__oppty__project_name class="uk-input uk-form-width-xsmall uk-form-small" %}</th>
                    <th class="uk-table-middle">{% render_field list.form.pca__psa__preproject__sa_lintasarta__name class="uk-input uk-form-width-xsmall uk-form-small" %}</th>
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle">{% render_field list.form.problem_category class="uk-select uk-form-width-xsmall uk-form-small" %}</th>
                    <th class="uk-table-middle"></th>
                    <button type="submit" hidden="">Search</button>
                </form>
            </tr>
        </thead>
        <tbody>{% for ho in list.qs %} 
            <tr> 
            	<td>{{ forloop.counter }}</td> 
                <td>{% for customer in ho.pca.psa.preproject.oppty.customer.all %}{{ customer.customer_name }}{% endfor %}</td> 
                <td>{{ho.pca.psa.preproject.oppty.project_name}}</td> 
                <td>{% for sa in ho.pca.psa.preproject.sa_lintasarta.all %}{{ sa.name }}{% endfor %}</td> 
                <td>{% for pss in ho.pca.psa.preproject.pss_lintasarta.all %}{{ pss.name }}{% endfor %}</td> 
                <!-- <td>{{ho.oppty.sales_lintasarta.initial}}</td>  -->
                <td>{{ho.oppty.sales_lintasarta.name}}</td> 
            	<td>{{ho.po_date}}</td> 
            	<td>{{ho.po_known_date}}</td> 
                <td>{{ho.submit_doc_projectcharter_date}}</td> 
                <td>{{ho.submit_presales_handover_date}}</td> 
                <td>{% if ho.pca.psa.preproject.progress == 'w' %}Close Won{% elif ho.pca.psa.preproject.progress == 'l' %}Close Lost{% elif ho.pca.psa.preproject.progress == 'p' %}Progress - Internal SA{% elif ho.pca.psa.preproject.progress == 's' %}Progress - Submited{% elif ho.pca.psa.preproject.progress == 'c' %}Cacncelled{% else %}PSA NOTGO/HOLD{%endif%}</td> 
                <!-- <td>{{ho.problem_category}}</td>  -->
                <td>{% if ho.problem_category == 'n-pr' %}No Problem - Fulfilled{% elif ho.problem_category == 'e-sc'%}External - Scope Change{% elif ho.problem_category == 'e-rn'%}External - Renewal Process{% elif ho.problem_category == 'e-po'%}External - Conduct PSA After PO{% elif ho.problem_category == 'e-pr'%}External - Custom Product{% elif ho.problem_category == 'i-pc'%}Internal - PCA Form{% elif ho.problem_category == 'i-de'%}Internal - Delay to HO{% else %}TES{% endif %}</td>
                <td>{% totalcontracvalue ho.pca.mrc ho.pca.otc ho.pca.duration %}</td> 
            </tr>
        </tbody>{% endfor %}
    </table>
</div>
{% endblock %}
