{% extends "base.html" %}{% block title %}Dashboard | SolArc{% endblock %}{% block content %}
<!-- CONTENT -->
<div id="content" uk-height-viewport="expand: true">
	<div class="uk-container uk-container-expand">
		<!-- PSA PCA -->
		<div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-1 uk-child-width-1-2@l uk-child-width-1-5@xl" data-uk-grid>
			<div class="uk-text-center">
				<span class="uk-text-small">
					<span data-uk-icon="icon:cog" class="uk-margin-small-right uk-text-primary"></span>Project Selection Approval
				</span>
				<h1 class="uk-heading-primary uk-margin-remove  uk-text-primary">
					<a href="{% url 'psa' %}">{{total_psas}}<span class="uk-text-small"> Total</span></a>
					<a href="{% url 'psa' %}/go">{{go_psas}}<span class="uk-text-small"> Go</span></a>
					<a href="{% url 'psa' %}/not">{{holdnotgo_psas}}<span class="uk-text-small"> Not</span></a>
				</h1><br>
				<span class="uk-text-small">
					<span data-uk-icon="icon:clock" class="uk-margin-small-right uk-text-primary"></span>PSA > 5WD *GO Only
				</span>
				<h1 class="uk-heading-primary uk-margin-remove uk-text-primary">
					<a class="uk-text-danger" href="{% url 'psa' %}/psa5wdpssho">{{len_psa_more_than_5wd_from_pss_ho}}<span class="uk-text-small"> PSS HO</span></a>
					<a class="uk-text-warning" href="{% url 'psa' %}/psa5wd">{{len_psa_more_than_5wd}}<span class="uk-text-small"> PSA Date</span></a>
				</h1>
			</div>
			<div class="uk-text-center">
				<span class="uk-text-small">
					<span data-uk-icon="icon:nut" class="uk-margin-small-right uk-text-primary"></span>Project Commercial Approval
				</span>
				<h1 class="uk-heading-primary uk-margin-remove  uk-text-primary">
					<a href="{% url 'pca' %}">{{total_pcas}}<span class="uk-text-small"> Total</span></a>
					<a href="{% url 'pca' %}/go">{{go_pcas}}<span class="uk-text-small"> Go</small></a>
					<a href="{% url 'pca' %}/not">{{holdnotgo_pcas}}<span class="uk-text-small"> Not</span></a>
				</h1><br>
				<span class="uk-text-small">
					<span data-uk-icon="icon:clock" class="uk-margin-small-right uk-text-primary"></span>PCA > 21D *GO Only
				</span>
				<h1 class="uk-heading-primary uk-margin-remove uk-text-primary">
					<a class="uk-text-danger" href="{% url 'pca' %}/pca21wd">{{len_progressafterpca_21days}}<span class="uk-text-small"> Progress</a></span><span class=""> </span>
					<!-- <a href="{% url 'psa' %}/psa5wd"> <span class="uk-text-warning"># <span class="uk-text-small">PSA</span></a></span> -->
				</h1>
			</div>
		</div>
		<hr>
		<!-- /PSA PCA -->
		<!-- OPPTY PREPROJECT WINLOST -->
		<div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-1 uk-child-width-1-2@l uk-child-width-1-5@xl" data-uk-grid>
			<div class="uk-text-center">
				<span class="uk-text-small">
					<span data-uk-icon="icon:bolt" class="uk-margin-small-right uk-text-primary"></span>Opportunity
				</span>
				<h1 class="uk-heading-primary uk-margin-remove  uk-text-primary">
					<a href="{% url 'preproject' %}">{{total_prepro}}<span class="uk-text-small"> Total</span></a>
					<a href="{% url 'preproject' %}/progresssa">{{progress_prepro}}<span class="uk-text-small"> Progress</span></a>
					<a href="{% url 'preproject' %}/submited">{{submit_prepro}}<span class="uk-text-small"> Submited</span></a>
					<a href="{% url 'preproject' %}/exprogress">{{exclude_progress_prepro}}<span class="uk-text-small"> Not</span></a>
					<!-- <a href="{% url 'psa' %}/not">{{holdnotgo_psas.count}} <span class="uk-text-small">NOT</span></a> -->
				</h1>
			</div>
			<div class="uk-text-center">
				<span class="uk-text-small">
					<span data-uk-icon="icon:heart" class="uk-margin-small-right uk-text-primary"></span>Win, Lost & Handover
				</span>
				<h1 class="uk-heading-primary uk-margin-remove  uk-text-primary">
					<a href="{% url 'preproject' %}/closewon">{{won_prepro}}<span class="uk-text-small"> Win</span></a>
					<a href="{% url 'preproject' %}/closelost">{{lost_prepro}}<span class="uk-text-small"> Lost</span></a>
					<a href="{% url 'handover' %}">{{handover}}<span class="uk-text-small"> Total HO</span></a>
					<a class="uk-text-danger" href="{% url 'handover' %}/more2wdpoknowndate">{{len_ho_more_than_2wd_from_po_known_date}}<span class="uk-text-small"> HO > 2WD</span></a>
				</h1>
			</div>
		</div>
		<hr>
		<!-- /OPPTY PREPROJECT WINLOST -->

		<div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-2 uk-child-width-1-4@l uk-child-width-1-5@xl" uk-grid>
			<div>
				<span class="uk-text-small"><span uk-icon="icon: credit-card" class="uk-margin-small-right uk-text-primary"></span>Ebitda Profitability</span>
				<h1 class="uk-heading-primary uk-margin-remove uk-text-primary"><a href="{% url 'pca' %}/pcaebitda">{{ebitdaprofitability}}<small class="uk-text-small">% Average</small></a><br><a href="{% url 'pca' %}/pcaebitda">{{ebitdaprofitability_weighted}}<small class="uk-text-small">% Weighted</small></a></h1>
				<div class="uk-text-small">
					<!-- <span class="uk-text-danger" uk-icon="icon: triangle-up">{{ebitdaprofitability}} - {{irrprofitability}}</span> ebitda: {{sum_tcv_ebitda}} - irr: {{sum_tcv_irr}} <br><br> -->
					<!-- <span class="uk-text-danger" uk-icon="icon: triangle-up">{{irrprofitability_weighted}}</span>irr: {{sum_tcv_irr_weighted}} -->
					<!-- <span class="uk-text-danger" uk-icon="icon: triangle-up">ebitda: 2{{sum_tcv_ebitda}} - irr: {{sum_tcv_irr}}</span> -->
				</div>
			</div>
			<div>
				<span class="uk-text-small"><span uk-icon="icon:tag" class="uk-margin-small-right uk-text-primary"></span>IRR Profitability</span>
				<h1 class="uk-heading-primary uk-margin-remove uk-text-primary"><a href="{% url 'pca' %}/pcairr">{{irrprofitability}}<small class="uk-text-small">% Average</small></a><br><a href="{% url 'pca' %}/pcairr">{{irrprofitability_weighted}}<small class="uk-text-small">% Weighted</small></a></h1>
				<!-- <h1 class="uk-heading-primary uk-margin-remove uk-text-primary">{{irrprofitability}}<small class="uk-text-small">% Average</small><br>{{irrprofitability_weighted}}<small class="uk-text-small">% Weighted</small></h1> -->
				<div class="uk-text-small">
					<!-- <span class="uk-text-danger" uk-icon="icon: triangle-up"></span> -->
				</div>
			</div>
			<div>
				<span class="uk-text-small"><span uk-icon="icon:star" class="uk-margin-small-right uk-text-primary"></span>Win Rate</span>
				<h1 class="uk-heading-primary uk-margin-remove uk-text-primary"><a href="{% url 'pca' %}/pcaksaea">{{winrate_ksaea}}<small class="uk-text-small">% KSA & EA</small></a><br><a href="{% url 'pca' %}/pcanonksaea">{{winrate_nonksaea}}<small class="uk-text-small">% Non</small></a></h1>
				<div class="uk-text-small">
			<!-- <span class="uk-text-warning" uk-icon="icon: triangle-down"></span> {{sum_tcv_won}} - {{sum_tcv_lost}} -->
				</div>
			</div>
			<div>
				<span class="uk-text-small"><span uk-icon="icon:check" class="uk-margin-small-right uk-text-primary"></span>SLA</span>
				<h1 class="uk-heading-primary uk-margin-remove uk-text-primary">N/A<small class="uk-text-small">% PSA-PCA</small><br>N/A<small class="uk-text-small">% PO-HO</small></h1>
				<div class="uk-text-small">
					<!-- <span class="uk-text-warning" uk-icon="icon: triangle-down">-15%</span> less than last week. -->
				</div>
			</div>
		</div>
		<hr>
		<div class="uk-grid uk-grid-medium" data-uk-grid>
			
			<!-- panel -->
			<div class="uk-width-1-2@l">
				<div class="uk-card uk-card-default uk-card-small uk-card-hover">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-auto"><h4>Total PSA & PCA Chart</h4></div>
							<div class="uk-width-expand uk-text-right panel-icons">
								<!-- <a href="#" class="uk-icon-link" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a> -->
								<!-- <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a> -->
								<!-- <a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a> -->
							</div>
						</div>
					</div>
					<div class="uk-card-body">
						<div class="chart-container">
							<canvas id="chart1"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- /panel -->
			<!-- panel -->
			<div class="uk-width-1-2@l">
				<div class="uk-card uk-card-default uk-card-small uk-card-hover">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-auto"><h4>N/A</h4></div>
							<div class="uk-width-expand uk-text-right panel-icons">
								<!-- <a href="#" class="uk-icon-link" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a> -->
								<!-- <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a> -->
								<!-- <a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a> -->
							</div>
						</div>
					</div>
					<div class="uk-card-body">
						<div class="chart-container">
							<canvas id="chart20"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- /panel -->
			<!-- panel -->
			<div class="uk-width-1-1 uk-width-1-3@l uk-width-1-2@xl">
				<div class="uk-card uk-card-default uk-card-small uk-card-hover">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-auto"><h4>Customer Criteria</h4></div>
							<div class="uk-width-expand uk-text-right panel-icons">
								<!-- <a href="#" class="uk-icon-link" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
								<a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a>
								<a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a> -->
							</div>
						</div>
					</div>
					<div class="uk-card-body">
						<div class="chart-container">
							<canvas id="chart3"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- /panel -->
			<!-- panel -->
			<div class="uk-width-1-2@s uk-width-1-3@l uk-width-1-4@xl">
				<div class="uk-card uk-card-default uk-card-small uk-card-hover">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-auto"><h4>Risk Criteria</h4></div>
							<div class="uk-width-expand uk-text-right panel-icons">
								<!-- <a href="#" class="uk-icon-link" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
								<a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a>
								<a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a> -->
							</div>
						</div>
					</div>
					<div class="uk-card-body">
						<div class="chart-container">
							<canvas id="chart4"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- /panel -->
			<!-- panel -->
			<div class="uk-width-1-2@s uk-width-1-3@l uk-width-1-4@xl">
				<div class="uk-card uk-card-default uk-card-small uk-card-hover">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-auto"><h4>N/A</h4></div>
							<div class="uk-width-expand uk-text-right panel-icons">
								<a href="#" class="uk-icon-link" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
								<a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a>
								<a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a>
							</div>
						</div>
					</div>
					<div class="uk-card-body">
						<div class="chart-container">
							<canvas id="chart5"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- /panel -->
		</div>

		<hr>
		<!-- {% lorem %} -->
		<footer class="uk-section uk-section-small uk-text-center">
			<hr>
			<p class="uk-text-small uk-text-center">Copyright 2020 - <a href="#">Created with smile</a> 
			</p>
		</footer>
	</div>
</div>
<!-- /CONTENT -->
{% endblock %}
{% block javascript %}
<script>
	// Chart PSA & PCA
	// ========================================================================
	var char2El = document.getElementById('chart1');
	new Chart(char2El, {
	  type: 'line',
	  data: {
	    labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
	    datasets: [{
	      data: [{{total_psa_1}},{{total_psa_2}},{{total_psa_3}},{{total_psa_4}}],
	      label: "PSA",
	      borderColor: "#39f",
	      fill: false
	    }, {
	      data: [{{total_pca_1}},{{total_pca_2}},{{total_pca_3}},{{total_pca_4}}],
	      label: "PCA",
	      borderColor: "#3cba9f",
	      fill: false
	    }]
	  },
	  options: {
	    maintainAspectRatio: false,
	    responsiveAnimationDuration: 500,
	    animation: {
	      duration: 2000
	    },
	    title: {
	      display: true,
	      text: 'PSA PCA per month'
	    }
	  }
	});

	// Chart Customer Criteria
	// ========================================================================
	var char5El = document.getElementById('chart3');

	new Chart(char5El, {
	    type: 'pie',
	    // type: 'doughnut',
	    data: {
	      labels: ["KSA", "EA", "SA", "Others"],
	      datasets: [
	        {
	          // label: "Population (millions)",
	          backgroundColor: ["#3cba9f","#39f","#e8c3b9","#A9A9A9"],
	          data: [{{qty_ksa}},{{qty_ea}},{{qty_sa}},{{qty_others}}]
	        }
	      ]
	    },
	    options: {
	      maintainAspectRatio: false,
	      responsiveAnimationDuration: 500,
	      animation: {
	        duration: 2000
	      },
	      title: {
	        display: true,
	        text: 'Total Oppty per Criteria'
	      }
	    }
	});
	// Chart Customer Criteria
	// ========================================================================
	var char5El = document.getElementById('chart4');

	new Chart(char5El, {
	    // type: 'pie',
	    type: 'doughnut',
	    data: {
	      labels: ["High Risk", "Medium Risk", "Low Risk"],
	      datasets: [
	        {
	          // label: "Population (millions)",
	          backgroundColor: ["#C45850","#FFA500","#3cba9f"],
	          data: [{{hr}},{{mr}},{{lr}}]
	        }
	      ]
	    },
	    options: {
	      maintainAspectRatio: false,
	      responsiveAnimationDuration: 500,
	      animation: {
	        duration: 2000
	      },
	      title: {
	        display: true,
	        text: 'Total PSA per Criteria'
	      }
	    }
	});
</script>
{% endblock %}