{% extends "base_dashboard.html" %}{% block title %}Dashboard | SolArc{% endblock %}{% block content %}
<!-- CONTENT -->
<div id="content" uk-height-viewport="expand: true">
	<div class="uk-container uk-container-expand">
		<!-- PSA&PCA -->
		<!-- {{sum_tcv_progress}} -->
		<div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-2 uk-child-width-1-4@l uk-child-width-1-5@xl" uk-grid>
			<div>
				<span data-uk-icon="icon:cog" class="uk-margin-small-right uk-text-primary"></span>PSA
				<h1 class="uk-heading-primary uk-margin-remove" style="font-size: 34px"><a href="{% url 'psa' %}/total">{{total_psas}}<span style="font-size: 12px">Total </span></a><a href="{% url 'psa' %}/go">{{go_psas}}<span style="font-size: 12px">Go </span></a><a href="{% url 'psa' %}/not">{{holdnotgo_psas}}<span style="font-size: 12px">Not</span></a></h1>
			</div>
			<div>
				<span data-uk-icon="icon:nut" class="uk-margin-small-right uk-text-primary"></span>PCA
				<h1 class="uk-heading-primary uk-margin-remove" style="font-size: 34px"><a href="{% url 'pca' %}/total">{{total_pcas}}<span style="font-size: 12px">Total </span></a><a href="{% url 'pca' %}/go">{{go_pcas}}<span style="font-size: 12px">Go </span></a><a href="{% url 'pca' %}/not">{{holdnotgo_pcas}}<span style="font-size: 12px">Not</span></a></h1>
			</div>
			<div>
				<span class="uk-text-small"><span data-uk-icon="icon:clock" class="uk-margin-small-right uk-text-primary"></span>PSA > 5WD *GO Only</span>
				<h1 class="uk-heading-primary uk-margin-remove" style="font-size: 34px"><a class="uk-text-danger" href="{% url 'psa' %}/psa5wdpssho">{{len_psa_more_than_5wd_from_pss_ho}}<span style="font-size: 12px">PSS HO </span></a><a class="uk-text-warning" href="{% url 'psa' %}/psa5wd">{{len_psa_more_than_5wd}}<span style="font-size: 12px">PSA Date</span></a></h1>
			</div>
			<div>
				<span class="uk-text-small"><span data-uk-icon="icon:clock" class="uk-margin-small-right uk-text-primary"></span>PCA > 21D *GO Only</span>
				<h1 class="uk-heading-primary uk-margin-remove" style="font-size: 34px"><a class="uk-text-danger" href="{% url 'pca' %}/pca21wd">{{len_progressafterpca_21days}}<span style="font-size: 12px"> Progress</span></a></h1>
			</div>
		</div>
		<!-- /PSA&PCA -->
		<hr>
		<!-- OPPTY&HO -->
		<div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-2 uk-child-width-1-4@l uk-child-width-1-5@xl" uk-grid>
			<div>
				<span data-uk-icon="icon:bolt" class="uk-margin-small-right uk-text-primary"></span>Opportunity
				<h1 class="uk-heading-primary uk-margin-remove" style="font-size: 34px"><a href="{% url 'preproject' %}/all">{{total_prepro}}<span style="font-size: 12px">Total </span></a><a href="{% url 'preproject' %}/progress">{{progress_prepro}}<span style="font-size: 12px">Progress </span></a></h1>
			</div>
			<div>
				<span data-uk-icon="icon:bolt" class="uk-margin-small-right uk-text-primary"></span>Opportunity
				<h1 class="uk-heading-primary uk-margin-remove" style="font-size: 34px"><a href="{% url 'preproject' %}/submited">{{submit_prepro}}<span style="font-size: 12px">Submited </span></a><a href="{% url 'preproject' %}/cancelled_psahold">{{cancelled_psahold_prepro}}<span style="font-size: 12px">Cancelled</span></a></h1>
			</div>
			<div>
				<span data-uk-icon="icon:bolt" class="uk-margin-small-right uk-text-primary"></span>Opportunity
				<h1 class="uk-heading-primary uk-margin-remove" style="font-size: 34px"><a href="{% url 'opptywon' %}">{{won_prepro}}<span style="font-size: 12px">Won </span></a><a href="{% url 'opptylost' %}">{{lost_prepro}}<span style="font-size: 12px">Lost</span></a></h1>
			</div>
			<div>
				<span data-uk-icon="icon:heart" class="uk-margin-small-right uk-text-primary"></span>Handover
				<h1 class="uk-heading-primary uk-margin-remove" style="font-size: 34px"><a href="{% url 'handover' %}/total">{{handover}}<span style="font-size: 12px"> Total HO</span></a><a class="uk-text-danger" href="{% url 'handover' %}/more2wdpoknowndate">{{len_ho_more_than_2wd_from_po_known_date}}<span style="font-size: 12px"> HO > 2WD</span></a></h1>
			</div>
		</div>
		<!-- /OPPTY&HO -->
		<hr>
		<!-- PROFITABILITY & WINRATE -->
		<div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-2 uk-child-width-1-4@l uk-child-width-1-5@xl" uk-grid>
			<div>
				<span class="uk-text-small"><span uk-icon="icon: credit-card" class="uk-margin-small-right uk-text-primary"></span>OpEx Profitability (Weighted)</span>
				<h1 class="uk-heading-primary uk-margin-remove" style="font-size: 34px"><a class="{% if ebitdaprofitability_weighted < 12 %}uk-text-danger{% else %}uk-text-primary{% endif %}" href="{% url 'pca' %}/pcaebitda">{{ebitdaprofitability_weighted}}<span style="font-size: 12px">% EBITDA ALL</span></a><br><a class="{% if ebitdaprofitability_weighted_otc_mrc_only < 12 %}uk-text-danger{% else %}uk-text-primary{% endif %}" href="{% url 'pca' %}/pcaebitdaotc">{{ebitdaprofitability_weighted_otc_mrc_only}}<span style="font-size: 12px">% OTC</span></a>  <a class="{% if ebitdaprofitability_weighted_mrc_only < 12 %}uk-text-danger{% else %}uk-text-primary{% endif %}" href="{% url 'pca' %}/pcaebitdamrc">{{ebitdaprofitability_weighted_mrc_only}}<span style="font-size: 12px">% MRC</span></a></h1>
			</div>
			<div>
				<span class="uk-text-small"><span uk-icon="icon:tag" class="uk-margin-small-right uk-text-primary"></span>CapEx Profitability (Weighted)</span>
				<h1 class="uk-heading-primary uk-margin-remove" style="font-size: 34px"><a class="{% if irrprofitability < 22 %}uk-text-danger{% else %}uk-text-primary{% endif %}" href="{% url 'pca' %}/pcairr">{{irrprofitability_weighted}}<span style="font-size: 12px">% IRR</span></a><br><a class="{% if irrprofitability_weighted < 22 %}uk-text-danger{% else %}uk-text-primary{% endif %}" href="{% url 'pca' %}/pcacapexebitda">{{irrprofitability_weighted_ebitda}}<span style="font-size: 12px">% EBITDA</span></a></h1>
			</div>
			<div>
				<span class="uk-text-small"><span uk-icon="icon:star" class="uk-margin-small-right uk-text-primary"></span>Win Rate</span>
				<h1 class="uk-heading-primary uk-margin-remove" style="font-size: 34px"><a class="{% if winrate_ksaea < 75 %}uk-text-danger{% else %}uk-text-primary{% endif %}" href="{% url 'pca' %}/pcaksaea">{{winrate_ksaea}}<span style="font-size: 12px">% KSA & EA</span></a><br><a class="{% if winrate_nonksaea < 50 %}uk-text-danger{% else %}uk-text-primary{% endif %}" href="{% url 'pca' %}/pcanonksaea">{{winrate_nonksaea}}<span style="font-size: 12px">% Non</span></a></h1>
			</div>
			<div>
				<span class="uk-text-small"><span uk-icon="icon:check" class="uk-margin-small-right uk-text-primary"></span>SLA</span>
				<h1 class="uk-heading-primary uk-margin-remove uk-text-primary" style="font-size: 34px">N/A<span style="font-size: 12px">% PSA-PCA</span><br>N/A<span style="font-size: 12px">% PO-HO</span></h1>
			</div>
		</div>
		<!-- /PROFITABILITY & WINRATE -->
		<hr>
		<!-- CHART -->
		<div class="uk-grid uk-grid-medium" data-uk-grid>
			
			<!-- panel -->
			<div class="uk-width-1-2@l">
				<div class="uk-card uk-card-default uk-card-small uk-card-hover">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-auto"><h4>Total PSA & PCA Chart</h4></div>
							<div class="uk-width-expand uk-text-right panel-icons">
								<!-- <a href="#" class="uk-icon-link" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a> -->
								<!-- <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a> -->
								<!-- <a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a> -->
							</div>
						</div>
					</div>
					<div class="uk-card-body">
						<div class="chart-container">
							<canvas id="chart1"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- /panel -->
			<!-- panel -->
			<div class="uk-width-1-2@l">
				<div class="uk-card uk-card-default uk-card-small uk-card-hover">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-auto"><h4>Revenue TCV (Plan)</h4></div>
							<div class="uk-width-expand uk-text-right panel-icons">
								<!-- <a href="#" class="uk-icon-link" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a> -->
								<!-- <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a> -->
								<!-- <a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a> -->
							</div>
						</div>
					</div>
					<div class="uk-card-body">
						<div class="chart-container">
							<canvas id="chart2"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- /panel -->
			<!-- panel -->
			<div class="uk-width-1-1 uk-width-1-3@l uk-width-1-2@xl">
				<div class="uk-card uk-card-default uk-card-small uk-card-hover">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-auto"><h4>Customer Criteria</h4></div>
							<div class="uk-width-expand uk-text-right panel-icons">
								<!-- <a href="#" class="uk-icon-link" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
								<a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a>
								<a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a> -->
							</div>
						</div>
					</div>
					<div class="uk-card-body">
						<div class="chart-container">
							<canvas id="chart3"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- /panel -->
			<!-- panel -->
			<div class="uk-width-1-2@s uk-width-1-3@l uk-width-1-4@xl">
				<div class="uk-card uk-card-default uk-card-small uk-card-hover">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-auto"><h4>Risk Criteria</h4></div>
							<div class="uk-width-expand uk-text-right panel-icons">
								<!-- <a href="#" class="uk-icon-link" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
								<a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a>
								<a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a> -->
							</div>
						</div>
					</div>
					<div class="uk-card-body">
						<div class="chart-container">
							<canvas id="chart4"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- /panel -->
			<!-- panel -->
			<div class="uk-width-1-2@s uk-width-1-3@l uk-width-1-4@xl">
				<div class="uk-card uk-card-default uk-card-small uk-card-hover">
					<div class="uk-card-header">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-auto"><h4>Opportunity</h4></div>
							<div class="uk-width-expand uk-text-right panel-icons">
								<a href="#" class="uk-icon-link" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
								<a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a>
								<a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a>
							</div>
						</div>
					</div>
					<div class="uk-card-body">
						<div class="chart-container">
							<canvas id="chart5"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- /panel -->
		</div>
		<!-- /CHART -->
		<hr>
		<footer class="uk-section uk-section-small uk-text-center">
			<hr>
			<p class="uk-text-small uk-text-center">Copyright 2020 - <a href="#">Created with smile</a> 
			</p>
		</footer>
	</div>
</div>
<!-- /CONTENT -->
{% endblock %}
{% block javascript %}
<script>
	// Chart PSA & PCA
	// ========================================================================
	var char2El = document.getElementById('chart1');
	new Chart(char2El, {
	  type: 'line',
	  data: {
	    labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
	    datasets: [{
	      data: [{{total_psa_1}},{{total_psa_2}},{{total_psa_3}},{{total_psa_4}},{{total_psa_5}},{{total_psa_6}},{{total_psa_7}},{{total_psa_8}}],
	      label: "PSA",
	      borderColor: "#39f",
	      fill: false
	    }, {
	      data: [{{total_pca_1}},{{total_pca_2}},{{total_pca_3}},{{total_pca_4}},{{total_pca_5}},{{total_pca_6}},{{total_pca_7}},{{total_pca_8}}],
	      label: "PCA",
	      borderColor: "#3cba9f",
	      fill: false
	    }]
	  },
	  options: {
	    maintainAspectRatio: false,
	    responsiveAnimationDuration: 500,
	    animation: {
	      duration: 2000
	    },
	    title: {
	      display: true,
	      text: 'PSA PCA per month'
	    }
	  }
	});

	// Chart WIN & LOST
	// ========================================================================
	var char1El = document.getElementById('chart2');
	new Chart(char1El, {
	  type: 'bar',
	  data: {
	    labels: ["Won", "Progress", "Lost"],
	    datasets: [{
	      label: "TCV (billions)",
	      backgroundColor: ["#3cba9f", "#39f", "#C45850"],
	      data: [{{sum_tcv_won}}, {{sum_tcv_progress}}, {{sum_tcv_lost}}]
	    }]
	  },
	  
	  options: {
	    maintainAspectRatio: false,
	    responsiveAnimationDuration: 500,
	    legend: {
	      display: false
	    },
	    animation: {
	      duration: 2000
	    },
	    title: {
	      display: true,
	      text: 'Revenue TCV (billions)'
	    }
	  }
	});

	// Chart Customer Criteria
	// ========================================================================
	var char5El = document.getElementById('chart3');

	new Chart(char5El, {
	    type: 'pie',
	    // type: 'doughnut',
	    data: {
	      labels: ["KSA", "EA", "SA", "Others"],
	      datasets: [
	        {
	          // label: "Population (millions)",
	          backgroundColor: ["#3cba9f","#39f","#e8c3b9","#A9A9A9"],
	          data: [{{qty_ksa}},{{qty_ea}},{{qty_sa}},{{qty_others}}]
	        }
	      ]
	    },
	    options: {
	      maintainAspectRatio: false,
	      responsiveAnimationDuration: 500,
	      animation: {
	        duration: 2000
	      },
	      title: {
	        display: true,
	        text: 'Total Oppty per Criteria'
	      }
	    }
	});
	// Chart Customer Criteria
	// ========================================================================
	var char5El = document.getElementById('chart4');

	new Chart(char5El, {
	    // type: 'pie',
	    type: 'doughnut',
	    data: {
	      labels: ["High Risk", "Medium Risk", "Low Risk"],
	      datasets: [
	        {
	          // label: "Population (millions)",
	          backgroundColor: ["#C45850","#FFA500","#3cba9f"],
	          data: [{{hr}},{{mr}},{{lr}}]
	        }
	      ]
	    },
	    options: {
	      maintainAspectRatio: false,
	      responsiveAnimationDuration: 500,
	      animation: {
	        duration: 2000
	      },
	      title: {
	        display: true,
	        text: 'Total PSA per Criteria'
	      }
	    }
	});

	// Chart Qty Oppty
	// ========================================================================
	var char3El = document.getElementById('chart5');

	new Chart(char3El, {
	  type: 'horizontalBar',
	  data: {
	    labels: ["Progress", "Submited", "Won", "Lost", "Cancelled"],
	    datasets: [{
	      label: "Oppty",
	      backgroundColor: ["#39f", "#895df6", "#3cba9f", "#c45850", "#e8c3b9"],
	      data: [{{progress_prepro}}, {{submit_prepro}}, {{won_prepro}}, {{lost_prepro}}, {{cancelled_psahold_prepro}}]
	    }]
	  },
	  options: {
	    maintainAspectRatio: false,
	    responsiveAnimationDuration: 500,
	    legend: {
	      display: false
	    },
	    animation: {
	      duration: 2000
	    },
	    title: {
	      display: true,
	      text: 'Total {{total_prepro}} Oppty'
	    }
	  }
	});
</script>
{% endblock %}