{% extends "base_psapca.html" %}{% load widget_tweaks %}{% load psapca_extras %}{% load humanize %}{% block title %}PCA | SolArc{% endblock %}
{% block filter %}{% endblock %}
{% block content %}
<div class="uk-container">
    <table class="uk-table uk-table-divider uk-table-hover uk-table-small" style="font-size:70%;">
    <!-- <table class="uk-table uk-table-small uk-text-small uk-table-divider"> -->
        <thead>
            <tr>
                <th class="uk-table-middle">No</th>
                <th class="uk-table-middle">Customer Name</th>
                <th class="uk-table-middle">Project Name</th>
                <th class="uk-table-middle">Preproject Status</th>
                <th class="uk-table-middle">PSA Date</th>
                <th class="uk-table-middle">PSA Status</th>
                <th class="uk-table-middle">PSS HO Date</th>
                <th class="uk-table-middle">PCA Date</th>
                <th class="uk-table-middle">PCA Status</th>
                <th class="uk-table-middle">SA</th>
                <th class="uk-table-middle">Ebitda</th>
                <th class="uk-table-middle">IRR</th>
                <th class="uk-table-middle">TCV</th>
                {% if request.user.is_staff %}<th class="uk-table-middle">Edit</th>{% endif %}
            </tr>
            <tr>
                <form method="get" class="">
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle">{% render_field list.form.psa__preproject__oppty__customer__customer_name class="uk-input uk-form-width-xsmall uk-form-small" %}</th>
                    <th class="uk-table-middle">{% render_field list.form.psa__preproject__oppty__project_name class="uk-input uk-form-width-xsmall uk-form-small" %}</th>
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle">{% render_field list.form.psa__status_psa class="uk-select uk-form-small" %}</th>
                    <th class="uk-table-middle">{% render_field list.form.psa__pss_ho_date class="uk-select uk-form-small" %}</th>
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle">{% render_field list.form.psa__preproject__sa_lintasarta__name class="uk-input uk-form-width-xsmall uk-form-small" %}</th>
                    <th class="uk-table-middle">{% render_field list.form.ebitda class="uk-input uk-form-width-xsmall uk-form-small" %}</th>
                    <th class="uk-table-middle">{% render_field list.form.irr class="uk-input uk-form-width-xsmall uk-form-small" %}</th>
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle"></th>
                    <button type="submit" hidden="">Search</button>
                </form>
            </tr>
        </thead>
        <tbody>{% for pca in list.qs %} 
            <tr> 
            	<td>{{ forloop.counter }}</td> 
                <td>{% for customer in pca.psa.preproject.oppty.customer.all %}{{ customer.customer_name }}{% endfor %}</td> 
            	<td>{{pca.psa.preproject.oppty.project_name}}</td> 
                <td>{% if pca.psa.preproject.progress == 'w' %}Close Won{% elif pca.psa.preproject.progress == 'l' %}Close Lost{% elif pca.psa.preproject.progress == 'p' %}Progress - Internal SA{% elif pca.psa.preproject.progress == 's' %}Progress - Submited{% elif pca.psa.preproject.progress == 'c' %}Cacncelled{% else %}PSA NOTGO/HOLD{%endif%}</td> 
            	<td>{{pca.psa.psa_date}}</td> 
                <td>{% if pca.psa.status_psa == 'g' %}GO{% elif pca.psa.status_psa == 'h' %}HOLD{% else %}NOT GO{% endif %}</td>
            	<td>{{pca.psa.pss_ho_date}}</td> 
                <td>{{pca.pca_date}}</td> 
                <td>{% if pca.status_pca == 'g' %}APPROVED{% elif pca.status_pca == 'h' %}HOLD{% else %}NOT GO{% endif %}</td>
                <td>{% for sa in pca.psa.preproject.sa_lintasarta.all %}{{ sa.name }}{% endfor %}</td> 
                <td>{{pca.ebitda}}%</td> 
                <td>{{pca.irr}}%</td> 
                <td>{% totalcontracvalue pca.mrc pca.otc pca.duration %}</td> 
                {% if request.user.is_staff %}<td><a href="/admin/psatopca/pca/{{pca.id}}/change/" target="_blank" class="uk-link-reset" uk-icon="icon:file-edit; ratio:0.8"></a>{% endif %} </td> 

            </tr>
        </tbody>{% endfor %}
    </table>
</div>
{% endblock %}
