{% extends "base_psapca.html" %}{% load widget_tweaks %}{% block title %}PSA | SolArc{% endblock %}
{% block content %}
<div class="uk-container">
    <table class="table2excel uk-table uk-table-divider uk-table-hover uk-table-small" style="font-size: 70%;">
    <!-- <table class="uk-table uk-text-small uk-table-small uk-table-divider uk-margin-remove"> -->
    <!-- <table class="uk-table uk-table-small uk-table-divider" style="font-size: 70%;"> -->
        <!-- <caption>PSA {{ list.count }}</caption> -->
        <thead>
            <tr>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040; font-weight: bold;">No</th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040; font-weight: bold;">Customer Name</th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040; font-weight: bold;">Project Name</th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040; font-weight: bold;">Preproject Status</th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040; font-weight: bold;">PSA Date</th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040; font-weight: bold;">PSS HO Date</th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040; font-weight: bold;">PSA Status</th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040; font-weight: bold;">PSS</th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040; font-weight: bold;">SALES</th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040; font-weight: bold;">SA</th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040; font-weight: bold;">RISK</th>
                <th class="uk-table-middle" style="font-size: 100%; color: #404040; font-weight: bold;">PCA</th>
                {% if request.user.is_staff %}<th class="noExl uk-table-middle" style="font-size: 100%; color: #404040; font-weight: bold;">Edit</th>{% endif %}
            </tr>
            <tr class="noExl">
                <form method="get" class="">
                    <th class="uk-table-middle"></th>
                    <!-- <th class="uk-table-middle"></th> -->
                    <th class="uk-table-middle">{% render_field list.form.preproject__customer__customer_name class="uk-input uk-form-width-xsmall uk-form-small" %}</th>
                    <th class="uk-table-middle">{% render_field list.form.preproject__project_name class="uk-input uk-form-width-xsmall uk-form-small" %}</th>
                    <th class="uk-table-middle"></th>
                    <th class="uk-table-middle"></th>
                    <!-- <th class="uk-table-middle">{% render_field list.form.pss_ho_date class="uk-select uk-form-small" %}</th> -->
                    <th class="uk-table-middle">
                        <select name="pss_ho_date" id="id_pss_ho_date" class="uk-select uk-form-small" style="width: 35px;font-size: 80%;">
                            <option value="unknown"></option>
                            <option value="true" class="uk-text-success uk-text-bold" {%if request.GET.pss_ho_date == 'true'%} selected {%endif%}>Y</option>
                            <option value="false" class="uk-text-danger uk-text-bold" {%if request.GET.pss_ho_date == 'false'%} selected {%endif%}>N</option>
                        </select>
                    </th>
                    <th class="uk-table-middle">
                        <select name="status_psa" id="id_status_psa" class="uk-select uk-form-small" style="width: 35px;font-size: 80%;">
                          <option value="" selected></option>
                          <option value="g" {%if request.GET.status_psa == 'g'%} selected {%endif%}>GO</option>
                          <option value="h" {%if request.GET.status_psa == 'h'%} selected {%endif%}>HOLD</option>
                          <option value="n" {%if request.GET.status_psa == 'n'%} selected {%endif%}>NOT GO</option>
                        </select>
                    </th>
                    <th class="uk-table-middle">{% render_field list.form.preproject__pss_lintasarta__name class="uk-input uk-form-width-xsmall uk-form-small" %}</th>
                    <th class="uk-table-middle">{% render_field list.form.preproject__sales_lintasarta__name class="uk-input uk-form-width-xsmall uk-form-small" %}</th>
                    <th class="uk-table-middle">{% render_field list.form.preproject__sa_lintasarta__initial class="uk-input uk-form-width-xsmall uk-form-small" %}</th>
                    <!-- <th class="uk-table-middle">{% render_field list.form.risk_category class="uk-select uk-form-small" %}</th> -->
                    <th class="uk-table-middle">
                        <select name="risk_category" id="id_risk_category" class="uk-select uk-form-small" style="width: 35px;font-size: 80%;">
                          <option value=""></option>
                          <option value="h" class="uk-text-danger uk-text-bold" {%if request.GET.risk_category == 'h'%} selected {%endif%}>H</option>
                          <option value="m" class="uk-text-primary uk-text-bold" {%if request.GET.risk_category == 'm'%} selected {%endif%}>M</option>
                          <option value="l" class="uk-text-success uk-text-bold" {%if request.GET.risk_category == 'l'%} selected {%endif%}>L</option>
                          <option value="n" class="uk-text-bold" {%if request.GET.risk_category == 'n'%} selected {%endif%}>n/a</option>
                        </select>
                    </th>
                    <th class="uk-table-middle"></th>
                    {% if request.user.is_staff %}<th class="uk-table-middle"></th>{% endif %}
                    <button type="submit" hidden="">Search</button>
                </form>
            </tr>
        </thead>
    <!--     <tfoot>
            <tr>
                <td>Table Footer</td>
                <td>Table Footer</td>
                <td>Table Footer</td>
            </tr>
        </tfoot> -->
        <tbody>{% for psa in list.qs %} 
            <tr> 
            	<td>{{ forloop.counter }}</td> 
                <td>{% for customer in psa.preproject.customer.all %}{{ customer.customer_name }}{% endfor %}</td> 
            	<td>{{psa.preproject.project_name}}</td>
                <td>{% if psa.preproject.progress == 'w' %}Close Won{% elif psa.preproject.progress == 'l' %}Close Lost{% elif psa.preproject.progress == 'p' %}Progress - Internal SA{% elif psa.preproject.progress == 's' %}Progress - Submited{% elif psa.preproject.progress == 'c' %}Cancelled{% else %}PSA NOTGO/HOLD{%endif%}</td> 
            	<td>{{psa.psa_date|date:'d-M-y'}}</td> 
            	<td>{{psa.pss_ho_date|date:'d-M-y'}}</td> 
                <td>{% if psa.status_psa == 'g' %}GO{% elif psa.status_psa == 'h' %}HOLD{% else %}NOT GO{% endif %}</td>
                <td>{% for pss in psa.preproject.pss_lintasarta.all %}<span uk-tooltip="title:{{pss.initial}}; delay:250">{{ pss.name }}</span>{% endfor %}</td> 
                <td><span uk-tooltip="title:{{psa.preproject.sales_lintasarta.initial}}; delay:250">{{psa.preproject.sales_lintasarta.name}}</span></td>
                <td>{% for sa in psa.preproject.sa_lintasarta.all %}<span uk-tooltip="title:{{sa.name}}; delay:250">{{sa.initial}}</span>{% endfor %}</td>
                {% if psa.risk_category == 'm' %}<td class="uk-text-bold uk-text-primary">M</td>{% elif psa.risk_category == 'h' %}<td class="uk-text-bold uk-text-danger">H</td>{% elif psa.risk_category == 'l' %}<td class="uk-text-bold uk-text-success">L</td>{% else %}<td class="uk-text-bold">n/a</td>{% endif %}
                <td>{% for pca in psa.pca_set.all %}{{pca.pca_date|date:'d-M-y'}}{% endfor %}</td> 
                {% if request.user.is_staff %}<td class="noExl"><a href="/admin/psatopca/psa/{{psa.id}}/change/" target="_blank" class="uk-link-reset" uk-icon="icon:file-edit; ratio:0.8"></a>{% endif %} </td> 
            </tr>
        </tbody>{% endfor %}
    </table>
    <button class="exportToExcel uk-button uk-button-small uk-button-primary">Export to XLS</button>
</div>
{% endblock %}
{% block scriptexportexcel %}filename: "Export PSA" + ".xls",{% endblock %}