<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/css/uikit.min.css">
	<title>Respond Send Email</title>
</head>
<body>
	<div class="uk-padding">
		{% autoescape off %}<p>{{message}}</p>{% endautoescape %}
		<span><a class="uk-button uk-button-primary uk-border-pill" href="/psapca/psa">Back to PSA List</a></span>
	</div>
</body>
</html>

