<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<style>
		body {
		  font-family: "Calibri",sans-serif;
		  font-size: 11.0pt;
		}
		span {
		  display: block;
		}

		#customers {
		  border-collapse: collapse;
		}
		#customers td, #customers th {
		  border: 1px solid #C0C0C0;
		  padding: 4px;
		}
		#customers th {
		  padding-top: 5px;
		  padding-bottom: 5px;
		  text-align: center;
		  background-color: #D3D3D3;
		  color: black;
		}
	</style>
</head>
<body>
	{% for psa in datapsa %}
	<span>Dear Rekan {{psa.preproject.sales_lintasarta.name}},</span><br>
	<span>Terkait dengan PSA Project:</span>
	<table id="customers">
	  <tr>
	    <th>PSA Date</th>
	    <th>Oppty ID</th>
	    <th>Customer Name</th>
	    <th>Project Name</th>
	    <th>Sales</th>
	    <th>Product/Not</th>
	    <th>Scale</th>
	    <th>Summary</th>
	    <th>Status</th>
	    <th>Remark</th>
	    <th>Attendance</th>
	  </tr>
	  <tr>
	    <td>{{psa.psa_date}}</td>
	    <td>{{psa.preproject.oppty_id}}</td>
	    <td>{% for customer in psa.preproject.customer.all %}{{ customer.customer_name }}{% endfor %}</td>
	    <td>{{psa.preproject.project_name}}</td>
	    <td>{{psa.preproject.sales_lintasarta.name}}</td>
	    <td>{% if psa.productornot == 'n'%}Non Product{%else%}Product{%endif%}</td> 
	    <td>{% if psa.scale == 'l'%}Large{% elif psa.scale == 'm'%}Medium{%else%}Small{%endif%}</td> 
	    <td>{{psa.summary}}</td>
	    {% if psa.status_psa == 'g' %}<td style="background: green;color: white;font-weight: bold;text-align: center;">GO</td>{% elif psa.status_psa == 'h' %}<td style="background: orange;color: white;font-weight: bold;text-align: center;">HOLD</td>{% else %}<td style="background: red;color: white;font-weight: bold;text-align: center;">NOT GO</td>{% endif %}
	    <td>{{psa.remark}}</td>
	    <td>{{psa.attendance}}</td>
	  </tr>
	</table><br>
	<span>Sesuai koridor, accountablility dari proyek  ada di Sales, mohon bantuannya untuk dapat di share ke tim SA:</span>
	<ol>
	  <li>Dokumen PSA, karena PCA tidak bisa di proses ttd apabila dokumen PSA nya tidak ada</li>
	  <li>Strategi pemenangan project, jika diperlukan meeting lanjutan pembahasan project ini tim SA siap untuk membantu</li>
	  <li>Timeline proses pra penjualannya seperti waktu submit (tanggal dan jam), penjelasan proposal (jika ada), nego dan lainnya</li>
	</ol>
	<span>Dear Rekan {% for pss in psa.preproject.pss_lintasarta.all %}{{ pss.name }}{% endfor %},</span>
	<span>Mohon dibantu share dokumen nya. Demikian check list HO PSS to SA:</span>
	<table id="customers">
	  <tr>
	    <th>No</th>
	    <th>Documents</th>
	    <th>Status<span>(Done/Not Done)</span></th>
	    <th>Handover Date</th>
	  </tr>
	  <tr>
	    <td style="text-align: center;">1</td>
	    <td>Project Selection Approval</td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td style="text-align: center;">2</td>
	    <td>Resource Assessment</td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td style="text-align: center;">3</td>
	    <td>Risk Assessment</td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td style="text-align: center;">4</td>
	    <td>Business Requirement Specification (BRS)</td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td style="text-align: center;">5</td>
	    <td>RKS Tender (if available)</td>
	    <td></td>
	    <td></td>
	  </tr>
	</table><br>
	<span>Alokasi SA dengan rekan {% for sa in psa.preproject.sa_lintasarta.all %}{{sa.name}}{% endfor %}. Sesuai koridor responsibility SA adalah sebagai berikut:</span>
	<ol>
		<li>Solusi teknis dengan hasil berupa Proposal Teknis jika diperlukan (mohon info jika pelanggan hanya memerlukan SPH saja)</li>
		<li>Membangun Business Plan sesuai ruang lingkup dan solusi, dengan hasil berupa harga submit, sesuai dengan koridor dan kesepakatan PCA</li>
		<li>Handover ke PM, mohon infokan melalui email jika sudah ada PO dari proyek ini</li>
	</ol>
	<span>Apabila ada pekerjaan diluar 3 point diatas, mohon dapat segera di infokan, untuk dapat kami pelajari terlebih dahulu.</span>
	<span>Atas dokumen dan informasinya kami ucapkan banyak terima kasih.</span>
	<br><span>Best Regards,</span><br>
	<span>Solution Architect</span>
	{% endfor %}
</body>
</html>
